bin
bundle*
config/manifests/bases/stackgres.clusterserviceversion.yaml
config/operator/kustomization.yaml
config/crd/kustomization.yaml
config/samples/kustomization.yaml
config/crd/bases/*
!config/crd/bases/crd-descriptors.yaml
!config/crd/bases/*.descriptors.yaml
openshift-operator-bundle/manifests/stackgres.clusterserviceversion.yaml
config/operator/operator.yaml
config/webhook/manifests.yaml
config/rbac/role.yaml
.vagrant
