bin
bundle*
config/manifests/bases/stackgres-operator.clusterserviceversion.yaml
config/manager/kustomization.yaml
config/crd/kustomization.yaml
config/crd/bases/*
!config/crd/bases/SGOperatorConfig.yaml
!config/crd/bases/crd-descriptors.yaml
!config/crd/bases/*.descriptors.yaml
openshift-operator-bundle/manifests/stackgres-operator.clusterserviceversion.yaml
config/manager/manager.yaml