unit tests:
  image: docker.io/ongres/ubi-graalvm-maven:21.0.0.2-java11
  stage: test
  variables:
    # skipped due to but in quarkus junit extension initialization
    # QUARKUS_PROFILE: "test"
  tags:
    - stackgres-runner
    - stackgres-quarkus-test-runner
  script:
    - 'mvn $MAVEN_CLI_OPTS clean verify'
  artifacts:
    expire_in: 1 week
    when: always
    reports:
      junit:
        - stackgres-k8s/src/*/target/surefire-reports/TEST-*.xml

shell unit tests:
  image: registry.gitlab.com/$CI_PROJECT_PATH/stackgres/it:12.0
  stage: test
  tags:
    - stackgres-runner
  script:
    - |
      set +e
      TMP_PATH="/tmp/stackgres-$JOB_ID"
      cp -a . "$TMP_PATH"
      (
        cd "$TMP_PATH"
        sh stackgres-k8s/src/operator/src/test/shell/run-in-docker.sh
      )
      EXIT_CODE="$?"
      cp -a "$TMP_PATH"/stackgres-k8s/src/operator/target stackgres-k8s/src/operator/target
      rm -rf "$TMP_PATH"
      exit "$EXIT_CODE"
  artifacts:
    expire_in: 1 week
    when: always
    paths:
    - stackgres-k8s/src/operator/target/shell
    reports:
      junit:
        - stackgres-k8s/src/operator/target/shell/shell-unit-tests-junit-report-*.xml

.e2e tests:
  stage: test
  image: registry.gitlab.com/$CI_PROJECT_PATH/stackgres/it:12.0
  tags:
    - stackgres-runner
  dependencies:
    - build helm packages
    - build helm templates
  variables:
    IMAGE_TAG_SUFFIX: ""
    E2E_SUFFIX: ""
  timeout: 12 hour
  script:
    - set -e
    - test "$E2E_JOBS" -ge 1 && test "$E2E_JOBS" -le 6
    - test "$E2E_EXCLUSIVE_JOBS" -ge 1 && test "$E2E_EXCLUSIVE_JOBS" -le 6
    - set -x
    - SUFFIX="$(echo "-$E2E_SUFFIX-$E2E_RUN_ONLY" | tr -d '\n' | tr -c 'a-z0-9' '-' | sed 's/\(-[0-9]\+\)-[0-9]\+$/\1/')"
    - SHELL_XTRACE="$([ "$E2E_DEBUG" = true ] && echo "-x" || echo "")"
    - export IMAGE_TAG="${CI_COMMIT_TAG:-"$CI_COMMIT_SHORT_SHA"}$IMAGE_TAG_SUFFIX"
    - export KIND_NAME="kind$SUFFIX"
    - export K8S_REUSE="${K8S_REUSE:-true}"
    - export K8S_FROM_DIND=true
    - export E2E_BUILD_IMAGES=false
    - export E2E_WAIT_OPERATOR=false
    - export E2E_PULLED_IMAGES_PATH="/tmp/pulled-images$SUFFIX"
    - export KIND_LOCK_PATH="/tmp/kind-lock$SUFFIX"
    - |
      if [ "$E2E_CLEAN_IMAGE_CACHE" = "true" ]
      then
        rm -rf "$E2E_PULLED_IMAGES_PATH"
      fi
    - |
      if [ -n "$E2E_TEST" ]
      then
        export E2E_ONLY_INCLUDES="$E2E_TEST"
      fi
    - export E2E_OPERATOR_REGISTRY=$CI_REGISTRY
    - export E2E_OPERATOR_REGISTRY_PATH=/$CI_PROJECT_PATH/
    - export E2E_FORCE_IMAGE_PULL=true
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - |
      if [ "$K8S_REUSE" = false ]
      then
        export K8S_DELETE=true
        export E2E_SPEC_TRY_UNINSTALL_ON_FAILURE=true
      fi
    - |
      flock -s /tmp/stackgres-build-operator-native-executable \
        flock -s /tmp/stackgres-build-restapi-native-executable \
        flock -s /tmp/stackgres-build-jobs-native-executable \
        flock -s /tmp/stackgres-build-distributedlogs-controller-native-executable \
        flock "/tmp/stackgres-integration-test$SUFFIX" \
        timeout -s KILL 3600 \
        "$E2E_SHELL" $SHELL_XTRACE stackgres-k8s/e2e/run-all-tests.sh
  artifacts:
    expire_in: 1 week
    when: always
    paths:
    - stackgres-k8s/e2e/target
    reports:
      junit:
        - stackgres-k8s/e2e/target/e2e-tests-junit-report.xml

.e2e tests jvm image:
  extends: .e2e tests
  variables:
    E2E_SUFFIX: "jvm-image"
    IMAGE_TAG_SUFFIX: "-jvm"
  only:
    variables:
      - $SKIP_E2E != "true"
  artifacts:
    expire_in: 1 week
    when: always
    paths:
    - stackgres-k8s/e2e/target

e2e tests jvm image part 1:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: non_exclusive:1/$E2E_JOBS

e2e tests jvm image part 2:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: non_exclusive:2/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[1]$/

e2e tests jvm image part 3:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: non_exclusive:3/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[12]$/

e2e tests jvm image part 4:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: non_exclusive:4/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[123]$/

e2e tests jvm image part 5:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: non_exclusive:5/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[1234]$/

e2e tests jvm image part 6:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: non_exclusive:6/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[12345]$/

e2e exclusive tests jvm image part 1:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:1/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST

e2e exclusive tests jvm image part 2:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:2/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[1]$/

e2e exclusive tests jvm image part 3:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:3/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[12]$/

e2e exclusive tests jvm image part 4:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:4/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[123]$/

e2e exclusive tests jvm image part 5:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:5/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[1234]$/

e2e exclusive tests jvm image part 6:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:6/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[12345]$/

e2e exclusive tests jvm image part 2:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:2/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[12345]$/

e2e exclusive tests jvm image part 2:
  extends: .e2e tests jvm image
  variables:
    E2E_RUN_ONLY: exclusive:2/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST

.e2e tests native image:
  extends: .e2e tests
  variables:
    E2E_SUFFIX: "native-image"
    IMAGE_TAG_SUFFIX: ""
  only:
    variables:
      - $SKIP_E2E != "true" && $SKIP_NATIVE != "true" && $CI_COMMIT_REF_NAME =~ /^development.*$/
      - $SKIP_E2E != "true" && $SKIP_NATIVE != "true" && $CI_COMMIT_REF_NAME == "master"
      - $SKIP_E2E != "true" && $SKIP_NATIVE != "true" && $CI_COMMIT_TAG && $CI_COMMIT_TAG !~ /^latest-.*$/
      - $DO_DEPLOY
      - $DO_NATIVE
  artifacts:
    expire_in: 1 week
    when: always
    paths:
    - stackgres-k8s/e2e/target

e2e tests native image part 1:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: non_exclusive:1/$E2E_JOBS

e2e tests native image part 2:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: non_exclusive:2/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[1]$/

e2e tests native image part 3:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: non_exclusive:2/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[12]$/

e2e tests native image part 4:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: non_exclusive:2/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[123]$/

e2e tests native image part 5:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: non_exclusive:2/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[1234]$/

e2e tests native image part 6:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: non_exclusive:2/$E2E_JOBS
  except:
    variables:
      - $E2E_TEST
      - $E2E_JOBS =~ /^[12345]$/

e2e exclusive tests native image part 1:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: exclusive:1/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST

e2e exclusive tests native image part 2:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: exclusive:2/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[1]$/

e2e exclusive tests native image part 3:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: exclusive:3/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[12]$/

e2e exclusive tests native image part 4:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: exclusive:4/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[123]$/

e2e exclusive tests native image part 5:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: exclusive:5/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[1234]$/

e2e exclusive tests native image part 6:
  extends: .e2e tests native image
  variables:
    E2E_RUN_ONLY: exclusive:6/$E2E_EXCLUSIVE_JOBS
    E2E_SKIP_OPERATOR_INSTALL: "true"
  except:
    variables:
      - $E2E_TEST
      - $E2E_EXCLUSIVE_JOBS =~ /^[12345]$/
