<!-- jQuery -->
<script type="text/javascript" src="{{ "js/jquery-3.4.1.min.js" | relURL }}"></script>

<!-- slick JS -->
<script type="text/javascript" src="{{ "js/slick.min.js" | relURL }}"></script>

<!-- slick Lightbox JS -->
<script type="text/javascript" src="{{ "js/slick-lightbox.min.js" | relURL }}"></script>

<!-- HTML5 Lightbox -->
<script type="text/javascript" src="{{ "js/html5lightbox/html5lightbox.js" | relURL }}"></script>

<!-- Stackgres JS -->
<script type="text/javascript" src="{{ "js/scripts.js" | relURL }}"></script>
