{{- range .Groups }}
{{- $group := . }}
{{- range .Kinds}}
{{- $kind := .}}
{{- $levelTypes := dict }}
{{- $hiddenTypes := dict }}
{{- $onlyOnCreationTypes := dict }}
{{- $requireRestartTypes := dict }}
{{- range .Types}}
{{- $key := regexReplaceAll "\\[(index|key)\\]" .Name "" }}
{{- range .Fields -}}
{{- $description := .Description }}
{{- $fieldKey := (print $key "." .Name) }}
{{- if (and $key (get $levelTypes $key)) }}
{{- $levelTypes = merge $levelTypes (dict $fieldKey (add (get $levelTypes $key) 1)) }}
{{- else }}
{{- $levelTypes = merge $levelTypes (dict $fieldKey 2) }}
{{- end }}
{{- if or ($description | regexMatch "See: http[^ ]+$") (and $key (get $hiddenTypes $key)) }}
{{- $hiddenTypes = merge $hiddenTypes (dict $fieldKey true) }}
{{- end }}
{{- if or ($description | regexMatch "\\*\\*This field can only be set on creation\\.\\*\\*") (and $key (get $onlyOnCreationTypes $key)) }}
{{- $onlyOnCreationTypes = merge $onlyOnCreationTypes (dict $fieldKey true) }}
{{- end }}
{{- if or ($description | regexMatch "\\*\\*Changing this field may require a restart\\.\\*\\*") (and $key (get $requireRestartTypes $key)) }}
{{- $requireRestartTypes = merge $requireRestartTypes (dict $fieldKey true) }}
{{- end }}
{{- end }}
{{- end }}
{{- range .Types}}
{{- $key := regexReplaceAll "\\[(index|key)\\]" .Name "" }}
{{- if not (get $hiddenTypes $key) }}
{{- if not .IsTopLevel}}

{{range $i, $e := until (min 5 (get $levelTypes $key) | int)}}#{{end}} {{.Name}}
{{ if .ParentKey}}<sup><sup>[↩ Parent](#{{.ParentKey}})</sup></sup>{{end}}
{{- end}}

{{ regexReplaceAll "```([a-z]*)" .Description "\n```${1}\n" }}

{{- /*
  The properties table is rendered by the crd-properties Hugo shortcode from a JSON array,
  so that markdown descriptions can be rendered without interleaving markdown and raw HTML
  (which produces invalid HTML).
*/ -}}
{{- $properties := list }}
{{- if .IsTopLevel }}
{{- $properties = append $properties (dict "name" "apiVersion" "type" "string" "description" (print $group.Group "/" $group.Version) "required" true "immutable" true) }}
{{- $properties = append $properties (dict "name" "kind" "type" "string" "description" $kind.Name "required" true "immutable" true) }}
{{- $properties = append $properties (dict "name" "metadata" "type" "object" "link" "https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.27/#objectmeta-v1-meta" "description" "Refer to the Kubernetes API documentation for the fields of the `metadata` field." "required" true) }}
{{- end }}
{{- range .Fields }}
{{- $fieldKey := (print $key "." .Name) }}
{{- $property := dict "name" .Name "type" .Type "required" .Required }}
{{- $property = merge $property (dict "description" (regexReplaceAll "```([a-z]*)" (regexReplaceAll "\\*\\*Example:\\*\\*.*" (.Description | replace "\n" "\\n") "" | replace "\\n" "\n") "\n```${1}\n" | trim)) }}
{{- if and .TypeKey (not (get $hiddenTypes $fieldKey)) }}{{ $property = merge $property (dict "anchor" .TypeKey) }}{{ end }}
{{- if get $onlyOnCreationTypes $fieldKey }}{{ $property = merge $property (dict "immutable" true) }}{{ end }}
{{- if get $requireRestartTypes $fieldKey }}{{ $property = merge $property (dict "requireRestart" true) }}{{ end }}
{{- with .Schema.XValidations }}
{{- $validations := list }}
{{- range . }}{{ $validations = append $validations (dict "rule" .Rule "message" .Message) }}{{ end }}
{{- $property = merge $property (dict "validations" $validations) }}
{{- end }}
{{- with .Schema.Format }}{{ $property = merge $property (dict "format" .) }}{{ end }}
{{- with .Schema.Enum }}{{ $property = merge $property (dict "enum" (toStrings .)) }}{{ end }}
{{- if .Schema.Minimum }}{{ $property = merge $property (dict "minimum" .Schema.Minimum) }}{{ end }}
{{- if .Schema.Maximum }}{{ $property = merge $property (dict "maximum" .Schema.Maximum) }}{{ end }}
{{- if .Schema.Default }}{{ $property = merge $property (dict "default" .Schema.Default) }}{{ end }}
{{- $properties = append $properties $property }}
{{- end }}

{{ "{{< crd-properties >}}" }}
{{ $properties | toPrettyJson }}
{{ "{{< /crd-properties >}}" }}

{{- end}}{{/* hidden type check */}}
{{- end}}{{/* range .Types */}}
{{- end}}{{/* range .Kinds */}}
{{- end}}{{/* range .Groups */}}
