configurations:
  postgresconfig:
    postgresql.conf:
      shared_buffers: '32MB'
  objectstorage:
    create: true
cluster:
  pods:
    persistentVolume:
      size: 128Mi
    managementPolicy: Parallel
  configurations:
    backups:
      sgObjectStorage: backupconf
  prometheusAutobind: false
  disableBackups: true
nonProductionOptions:
  disableClusterPodAntiAffinity: true