{{ define "head-seo" }}
{{ if or site.Params.previewgate site.Params.noindex }}<meta name="robots" content="noindex, nofollow">{{ else }}<meta name="robots" content="index, follow">{{ end }}
<link href="{{ "css/bootstrap-grid.min.css" | relURL }}?{{ now.Unix }}" rel="stylesheet">
<link href="{{ "css/containers.css" | relURL }}?{{ now.Unix }}" rel="stylesheet">
{{ end }}

{{ define "main" }}
<section id="containers-wrap" class="sectionPad">
  <div class="container">
    {{ .Content }}
  </div>
</section>
{{ end }}
